
# Main magento ignores

.htaccess

var/cache
var/session
var/locks
var/report
var/kega_export
var/log
var/urapidflow/
var/resource_config.json
var/package
var/maintenance.flag

media/catalog

feeds/*.xml

errors/local.xml

includes/config.php

app/etc/local.xml

/__dbm
/downloader/.cache/
/downloader/*.cfg
