<?xml version="1.0"?>
<config>
	<modules>
		<Erikt_Remarketing2>
			<version>0.1.0</version>
		</Erikt_Remarketing2>
	</modules>
	<global>
		<blocks>
			<remarketing2>
				<class>Erikt_Remarketing2_Block</class>
			</remarketing2>
		</blocks>
		<models>
			<Remarketing2>
				<class>Erikt_Remarketing2_Model</class>
			</Remarketing2>
		</models>
	</global>
	<frontend>
		<routers>
			<remarketing2>
				<use>standard</use>
				<args>
					<module>Erikt_Remarketing2</module>
					<frontName>remarketing2</frontName>
				</args>
			</remarketing2>
		</routers>
		<layout>
			<updates>
				<remarketing2>
					<file>remarketing2.xml</file>
				</remarketing2>
			</updates>
		</layout>
	</frontend>
</config>
